.productClass{
    margin-top:10px;
}

.label0{
    @include label(15px, $blue);
}
.label1{
    @include label(15px, $green);
}
.label2{
    @include label(15px, $teal);
}

.label10{
    @include label(15px, $black);
}
.label11{
    @include label(15px, $blue);
}
.label12{
    @include label(15px, $blue);
}

.labelDesc{
    @include label(14px, $grey);
    font-weight:normal;
    padding-top:5px;
}

.labelDevDesc{
    @include label(14px, $grey);
    font-weight:normal;
    padding-top:5px;
    padding-left: 28px;
}

.iconCls0{
    @include rowImage($url1);
}
.iconCls1{
    @include rowImage($url2);
}
.iconCls2{
    @include rowImage($url3);
}

.itemCls{
    padding-top:15px;
    padding-bottom:15px;
}

.itemCls:hover{
    -webkit-filter: grayscale(100%);
    filter:grayscale(100%);
}

.iconDevCls0, .iconDevCls1, .iconDevCls2, .iconStripe{
    position:relative;    
}
.iconDevCls0:before{
    @include iconType($aicon1);
}
.iconDevCls1:before{
    @include iconType($aicon2);
}
.iconDevCls2:before{
    @include iconType($aicon3);
}
.iconStripe:before{
    @include iconType($aicon4);
}
