@mixin label($fontSize, $color) {
    font-family: $font_sans_seriff;
    font-size: $fontSize;
    color: $color;
    font-weight:bold;
    text-align:left;
}

@mixin rowImage($url){
    background:url($url);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    border: 1px solid #dedede;
    padding:22px;
    border-radius:50%;
}

@mixin iconType($content, $padding: 14px){
    font-family:FontAwesome;
    padding-right:$padding;
    content:$content;   
}