.globalNav{
    position: absolute;
    left: 0;
    top: 10px;
    right: 0;
    height: 50px;
}

.navMarginCls{
    margin: 0px auto !important;
}

.divNavLabel{
    padding: 0 25px;
}

.nav-link{
    font-weight: 200 !important;
    color: $white !important;
    font-family: $font_sans_seriff !important;   
    cursor: default;
}
.nav-link:hover{
    color: hsla(0,0%,100%,.5) !important;
}

.popover{
    max-width:100% !important;
    border-radius:7px !important;
    margin-top:4px;
    border: 1px solid white;
}

.popover-body{
    padding:0px !important;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $arrow_color;
    margin: 0px auto;
    margin-top: -10px;
}

.navBarToggle{
    border:0px !important;
}