//COLORS
$red: #FF4848;
$white: #FFFFFF;
$arrow_color: rgba(242, 240, 255, 0.99);
$title_color: #8898aa;
$blue: blue;
$orange: orange;
$green: green;
$purple: purple;
$teal: teal;
$grey: grey;
$black: black;

//FONTS
$font_sans_seriff: sans-serif;

//IMAGE
$url1: '../assets/image1.png';
$url2: '../assets/image2.png';
$url3: '../assets/image3.png';

//FontIcons
$aicon1: "\f278";
$aicon2: "\f0c9";
$aicon3: "\f124";
$aicon4: "\f28a";
$aicon5: "\f278";
//$aicon6: "\f278";
//$aicon7: "\f278";

$aicon8: "\f19c";
$aicon9: "\f0ac";
$aicon10: "\f1d0";
$aicon11: "\f0ee";
$aicon12: "\f20e";
$aicon13: "\f18b";
$aicon14: "\f1b7";
$aicon15: "\f239";



